{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Claire's Recipes!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/tofu.JPG') }}" alt="Python Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title"> </h5>
                    <p class="card-text">
                        <ol>
                            <li>Tofu Scramble</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">future link to Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Screenshot 2022-09-26 143225.jpg') }}" alt="Flask Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <ol>
                            <li>Chocolate Strawberries</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">future link to recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Screenshot 2022-09-26 143255.jpg') }}" alt="Backend and Persistence" height="500">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <ol>
                            <li>Pesto Pasta</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">future link to recipe</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}